doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="http://code.jquery.com/jquery-latest.min.js")
        title hiworks mail test
    body 
        button(id="button") 테스트 시작

    script(src="./js/hiworks_script.js")